---
export interface Props {
  action?: string
  method?: string
  submitText?: string
}

const { 
  action = '#',
  method = 'post',
  submitText = 'Contact SAGNAR'
} = Astro.props
---

<form method={method} action={action}>
  <div class="fields">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required />
    </div>
    <div class="field">
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="3" required></textarea>
    </div>
  </div>
  <ul class="actions">
    <li><input type="submit" value={submitText} /></li>
  </ul>
</form>