---
export interface Props {
  title: string
  variant?: 'default' | 'alt'
}

const { title, variant = 'default' } = Astro.props
const sectionClass = variant === 'alt' ? 'alt' : ''
---

<section class={sectionClass}>
  <h3>{title}</h3>
  <slot />
</section>